<header class="text-center mt-4">
	<h2><a routerLink="/">TienNguyen's Blog</a></h2>
	<h3>Chia sẻ kiến thức, vui buồn, chuyện đời, chuyện nghề...</h3>
</header>
<nav>
	<div class="row">
		<div class="col-md-6">
			<ul class="menu text-right">
				<li><a href="#">Trang chủ</a></li>
				<li><a href="#">Danh mục</a></li>
				<li><a href="#">Tags</a></li>
				<li><a href="#">Về tôi</a></li>
			</ul>
		</div>
		<div class="col-md-6">
			<ul class="menu social">
				<li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
				<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
				<li><a href="#"><i class="fab fa-github-square"></i></a></li>
				<li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
				<li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
				<li><a href="#"><i class="fas fa-rss-square"></i></a></li>
				<li><a href="#"><i class="fab fa-instagram"></i></a></li>
			</ul>
		</div>
	</div>
</nav>