<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="Making the web more beautiful, fast, and open through great typography">
	<meta property="og:site_name" content="Google Fonts">
	<meta property="og:url" content="https://fonts.google.com/">
	<meta property="og:title" content="Google Fonts">
	<meta property="og:description" content="Making the web more beautiful, fast, and open through great typography">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>My Blog</title>
	<base href="/">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Audiowide|Coiny|Montserrat|Space+Mono" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">
	<app-header></app-header>
	<div class="row">
		<div class="col-lg-9">
			<router-outlet></router-outlet>
		</div>
		<aside class="col-lg-3" id="float-side">
			<h3>Tìm kiếm</h3>
			<form action="x" class="search mb-4">
				<input type="text" placeholder="Tìm kiếm...">
				<button type="submit"><i class="fas fa-search"></i></button>
			</form>
			<h3>Danh mục</h3>
			<ul class="aside-list">
				<li>
					<a href="#">
						Kiến thức
					</a>
				</li>
				<li>
					<a href="#">
						Chuyện đời
					</a>
				</li>
				<li>
					<a href="#">
						Chuyện nghề
					</a>
				</li>
			</ul>
			<h3>Tags</h3>
			<div class="tags ">
				<a href="#">Tags này</a>
				<a href="#">Ko phải tags</a>
				<a href="#">Tags này</a>
				<a href="#">Ko phải tags</a>
				<a href="#">Tags này</a>
				<a href="#">Ko phải tags</a>
				<a href="#">Tags này</a>
				<a href="#">Ko phải tags</a>
				<a href="#">Tags này</a>
				<a href="#">Ko phải tags</a>
				<a href="#">Tags này</a>
				<a href="#">Ko phải tags</a>
				<a href="#">Tags này</a>
				<a href="#">Ko phải tags</a>
			</div>
		</aside>
	</div>
</div>
<app-footer></app-footer>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
	var sidebarCurrentPos = $('#float-side').offset().top;
	$(window).scroll(function(){
		if ($(this).scrollTop() >= sidebarCurrentPos) {
			$('#float-side').addClass('float-side');
		} else {
			$('#float-side').removeClass('float-side');
		}
	});
</script>
</body>
</html>