<aside class="col-lg-3" id="float-side">
	<h3>Tìm kiếm</h3>
	<form action="x" class="search mb-4">
		<input type="text" placeholder="Tìm kiếm...">
		<button type="submit"><i class="fas fa-search"></i></button>
	</form>
	<h3>Danh mục</h3>
	<ul class="aside-list">
		<li>
			<a href="#">
				Kiến thức
			</a>
		</li>
		<li>
			<a href="#">
				Chuyện đời
			</a>
		</li>
		<li>
			<a href="#">
				Chuyện nghề
			</a>
		</li>
	</ul>
	<h3>Tags</h3>
	<div class="tags ">
		<a href="#">Tags này</a>
		<a href="#">Ko phải tags</a>
		<a href="#">Tags này</a>
		<a href="#">Ko phải tags</a>
		<a href="#">Tags này</a>
		<a href="#">Ko phải tags</a>
		<a href="#">Tags này</a>
		<a href="#">Ko phải tags</a>
		<a href="#">Tags này</a>
		<a href="#">Ko phải tags</a>
		<a href="#">Tags này</a>
		<a href="#">Ko phải tags</a>
		<a href="#">Tags này</a>
		<a href="#">Ko phải tags</a>
	</div>
</aside>